.main-header {
    height: 13vh;
    width: 100%;
    font-size: 1.7rem;
    font-weight: 900;
    color: white;
    display: flex;
    justify-content: center;
    align-items: center;
    padding-right: 15px;

    /* background: linear-gradient(180deg, #54C1E3 88%, #0CA1D0 96%, #09627D 100%); */
    background: linear-gradient(180deg, #54c1e3 20%, #13a4d2 92%, #0b8cb5);

}

.events-main-container {
    display: flex;
    flex-direction: row;
}

.events-main {
    display: flex;
    flex-direction: column;
    position: relative;
}

.events-scroll-container {
    overflow: hidden;
    overflow-y: auto;
}



.multiple-events-container {
    display: flex;
    flex-direction: row;
}


.event-container {
    position: relative;
    display: flex;
    flex-direction: column;
    border: none;
    /* border-bottom: rgba(185, 204, 233, 0.877) 2px; */
    font: inherit;
    color: inherit;
    /* box-shadow: 0px -1px 10px 1px rgb(142 164 236 / 70%); */
    overflow: visible;
    padding: 0;
}


.title-and-image {
    display: flex;
    justify-items: flex-start;
    margin-right: 15px;
    margin-top: 5px;
}

.event-text {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    margin-bottom: 15px;
    text-align: right;
}



.event-personal-pin {
    position: absolute;
    top: -8;
    left: 45%;
}

.event-footer-right {
    display: flex;
    flex-direction: column;
    position: absolute;
    align-items: center;
    bottom: 0;
    justify-items: center;
    margin-top: 5px;
    margin-bottom: 5px;
    background-color: rgba(255, 255, 255, .7)
}

.event-seperator {
    position: absolute;
    bottom: 0;
    height: 8px;
    width: 100%;
    margin: 0;
    padding: 0;
    background: linear-gradient(180deg, #D9D9D9 0%, rgba(191, 209, 255, 0.6) 25%, rgba(217, 217, 217, 0) 100%);
}

.event-left-seperator {
    position: absolute;
    left: 0;
    top: -8px;
    width: 8px;
    height: 100%;
    margin: 0;
    padding: 0;
    background: linear-gradient(90deg, #D9D9D9 0%, rgba(191, 209, 255, 0.6) 25%, rgba(217, 217, 217, 0) 100%);
}

.event-day-seperator {
    position: absolute;
    left: 0;
    top: 42px;
    width: 8px;
    height: calc(100% - 42px);
    margin: 0;
    padding: 0;
    background: linear-gradient(90deg, #D9D9D9 0%, rgba(191, 209, 255, 0.6) 25%, rgba(217, 217, 217, 0) 100%);
}

.event-time {
    display: flex;
    flex-direction: row;
}


.event-progress {
    position: absolute;
    bottom: 20px;
    width: 120px;
    height: 20px;
    display: flex;
    margin-right: 15px;
    flex-direction: row;
    border-radius: 10px;

}

.event-footer-left {
    display: flex;
    flex-direction: column-reverse;
    position: absolute;
    align-items: center;
    bottom: 15px;
    left: 15px;
    justify-items: center;
    margin-left: 10px;
}


.event-time-before {
    position: absolute;
    bottom: 15px;
    display: flex;
    align-items: center;
    margin-top: 8px;
    margin-right: 15px;
    height: 25px;
    width: fit-content;
    background-color: #8F9FB7;
    font-size: 0.7em;
    border-radius: 10px;
    padding-left: 15px;
    padding-right: 15px;
}


.title-location {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    padding-right: 15px;

}

.event-nav-button {
    position: relative;
    border-radius: 40px;
    width: 25vw;
    height: 46px;
    border-width: 0;
    font: inherit;
    color: inherit;
    color: #495D68;
    font-size: 0.8em;
    line-height: 2.2em;
    text-align: center;
}

.event-notification-btn {
    position: absolute;
    right: 0;
    top: 0;
    width: 50;
    height: 50;
    background-color: transparent;
    border: 0;
}


.kiosk-nav {
    margin: 10px;
}

.kiosk-nav:focus {
    z-index: 100;
    outline: 10px solid lightsalmon !important;
}

.events-header-left {
    position: absolute;
    display: flex;
    align-items: center;
    justify-items: flex-end;
    left: 15px;
    height: 90px;
    -webkit-touch-callout: none !important;
    -webkit-user-select: none !important;
    user-select: none !important;
}

.events-header-logo {
    height: 60px;
    border-radius: 7px;

}

.events-header-avatar {
    width: 90px;
    height: 90px;
}

.event-home-btn2 {
    font: inherit;
    color: inherit;
    background-color: transparent;
    border: 0;
    display: flex;
    font-size: 90px;
    height: 90px;
}





.nav-btn {
    display: flex;
    flex-direction: column;
    margin: 0;
}

.fc-one-event-container-high {
    display: flex;
    direction: rtl;
    flex-direction: column;
    align-items: flex-start;
}

.fc-one-event-container {
    direction: rtl;
    display: flex;
    flex-direction: row;
    align-items: flex-start;
}

.fc-timegrid-event.public-event {
    background-color: #516E8F;
    width: 40%;
    right: 0;
}

.fc-timegrid-event.multi-user-event {
    background-color: #D16969;
}


.fc-timegrid-event.p1 {
    background-color: #DF835B;
}

.fc-timegrid-event.p2 {
    background-color: #3B3A7B;
}

.fc-timegrid-event.p3 {
    background-color: #4D6F39;
}

.fc-timegrid-event.p4 {
    background-color: #513A83;
}

.fc-timegrid-event.p5 {
    background-color: #30686B;
}

.fc-timegrid-event.p6 {
    background-color: #2D4D72;
}

.fc-timegrid-event.p7 {
    background-color: #6160AA;
}

.fc-timegrid-event.p8 {
    background-color: #684CA5;
}

.fc-timegrid-event.p9 {
    background-color: #693077;
}

.fc-timegrid-event.p10 {
    background-color: #69989B;
}

.fc-timegrid-event.p11 {
    background-color: #793737;
}

.fc-timegrid-event.p12 {
    background-color: #7C9B69;
}

.fc-timegrid-event.p13 {
    background-color: #7D4A8A;
}

.fc-timegrid-event.p14 {
    background-color: #A03C6C;
}

.fc-timegrid-event.p15 {
    background-color: #A47A3B;
}

.fc-timegrid-event.p16 {
    background-color: #B590A1;
}

.fc-timegrid-event.p17 {
    background-color: #B85F39;
}

.fc-timegrid-event.p18 {
    background-color: #C89A57;
}


.fc-one-event-time {
    display: flex;
    flex-direction: row;
    margin-left: 5px;
    margin-right: 5px;
    align-items: center;
}

.fc-one-event-title {
    margin-left: 5px;
    margin-right: 5px;
    text-align: start;
}

.event-svg-icon {
    display: block;
    margin: 2px;
}

.fc-one-event-markers {
    position: absolute;
    left: 0;
    height: 25px;
    display: flex;
    flex-direction: row;
}

.fc-one-event-markers>img {
    height: 25;
    width: 25px
}

/** new design*/
.ev-details {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top: 10px;
    text-align: center;
    background-color: white;
    font-size: 1em;
}

.ev-details-scroll-container {
    height: calc(80vh - 130px);
    width: 100%;
    overflow-y: scroll;
}


.ev-details-section-title {
    width: 90%;
    font-size: 1.2em;
    font-weight: bold;
    text-align: start;
    color: black;
    padding-top: 10px;
    padding-bottom: 10px;
}

.relative {
    position: relative;
}

.ev-details-line {
    display: flex;
    flex-direction: row;
    align-items: center;
    padding: 15px;
    width: 90%;
}

.ev-details-date-picker {
    font-size: 2em;
}

.ev-aligntop {
    align-items: flex-start;
}

.ev-details-img {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 60px;
    height: 60px;
    background: white;
    border: 1px solid #D2D2D2;
    border-radius: 6px;
}

.ev-details-remove-img {
    position: absolute;
    top: -20px;
    left: -20px;
    z-index: 100;
}

.ev-details-icon {
    width: 30px;
    height: 30px;
    color: #C6C6C6;
}

.ev-details-users-container {
    display: flex;
    flex-direction: row;
    margin-inline-start: 10px;
    width: calc(100% - 40px);
}

.ev-details-header {
    width: 100%;
    height: 60px;
}

.ev-details-users {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    overflow-y: scroll;
    background: rgba(86, 87, 87, 0.05);
    border: 1px solid rgba(185, 185, 185, 0.12);
    border-radius: 6px;

    width: 100%;
    height: 90px;
}

.ev-details-user {
    background: rgba(86, 87, 87, 0.05);
    border: 1px solid rgba(185, 185, 185, 0.12);
    border-radius: 6px;

    width: 100%;
    height: 30px;
}

.ev-details-audio-title {
    width: 150px;
    margin-inline-start: 10px;
    text-align: start;
}

.ev-details-label {
    margin-inline-start: 10px;
    text-align: start;
}

.ev-details-notes {
    font-size: 1em;
    padding: 7px;
    font: inherit;
    margin: 0;
    resize: none;
    width: calc(100% - 150px);
    height: 60px;
    color: #565656;
    border: 1px solid #D2D2D2;
    border-radius: 10px;
    background-color: rgba(86, 87, 87, 0.05);
}

.ev-details-title {
    margin: 0;
    margin-right: 10px;
    padding: 0;
    border-style: none;
    font-size: 1.8rem;
    height: 35px;
    width: calc(100% - 70px);
    border-radius: 7px;
    color: #5F5F5F;
    text-indent: 7px;
    background-color: rgba(86, 87, 87, 0.05);
}

.ev-details-buttons {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    height: 70px;
}

.ev-details-button {
    justify-content: center;
    display: flex;
    align-items: center;
    font-size: 1.2em;
    margin: 15px;
    width: 91px;
    height: 35px;
    border-radius: 10px;
    border: 1px solid #D2D2D2;
    background: #1AA7D4;
    color: white;

}

.ev-details-button:disabled {
    background-color: #ACB3B5;
}