.main-header {
    height: 13vh;
    width: 100%;
    font-size: 1.7rem;
    font-weight: 900;
    color: white;
    display: flex;
    justify-content: center;
    align-items: center;
    padding-right: 15px;

    background: linear-gradient(180deg, #54C1E3 88%, #0CA1D0 96%, #09627D 100%);
}

.events-main {
    display: flex;
    flex-direction: column;
    position: relative;
}

.events-scroll-container {
    overflow: hidden;
    overflow-y: auto;
}

.events-top-seperator {
    z-index: 1;
    height: 8px;
    width: 100vw;
    margin: 0;
    padding: 0;
    background: linear-gradient(180deg, #D9D9D9 0%, rgba(191, 209, 255, 0.6) 25%, rgba(217, 217, 217, 0) 100%);
}

.multiple-events-container {
    display: flex;
    flex-direction: row;
}


.event-container {
    position: relative;
    display: flex;
    flex-direction: column;
    border: none;
    /* border-bottom: rgba(185, 204, 233, 0.877) 2px; */
    font: inherit;
    color: inherit;
    /* box-shadow: 0px -1px 10px 1px rgb(142 164 236 / 70%); */
    overflow: visible;
    padding: 0;
}


.title-and-image {
    display: flex;
    justify-items: flex-start;
    margin-right: 15px;
    margin-top: 5px;
}

.event-text {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    margin-bottom: 15px;
    text-align: right;
}



.event-personal-pin {
    position: absolute;
    top: -8;
    left: 45%;
}

.event-footer-right {
    display: flex;
    flex-direction: column;
    position: absolute;
    align-items: center;
    bottom: 0;
    justify-items: center;
    margin-top: 5px;
    margin-bottom: 5px;
    background-color: rgba(255, 255, 255, .7)
}

.event-seperator {
    position: absolute;
    bottom: 0;
    height: 8px;
    width: 100%;
    margin: 0;
    padding: 0;
    background: linear-gradient(180deg, #D9D9D9 0%, rgba(191, 209, 255, 0.6) 25%, rgba(217, 217, 217, 0) 100%);
}

.event-left-seperator {
    position: absolute;
    left: 0;
    top: -8px;
    width: 8px;
    height: 100%;
    margin: 0;
    padding: 0;
    background: linear-gradient(90deg, #D9D9D9 0%, rgba(191, 209, 255, 0.6) 25%, rgba(217, 217, 217, 0) 100%);
}

.event-time {
    display: flex;
    flex-direction: row;
}


.event-progress {
    position: absolute;
    bottom: 20px;
    width: 120px;
    height: 20px;
    display: flex;
    margin-right: 15px;
    flex-direction: row;
    border-radius: 10px;

}

.event-footer-left {
    display: flex;
    flex-direction: column-reverse;
    position: absolute;
    align-items: center;
    bottom: 15px;
    left: 15px;
    justify-items: center;
    margin-left: 10px;
}


.event-time-before {
    position: absolute;
    bottom: 15px;
    display: flex;
    align-items: center;
    margin-top: 8px;
    margin-right: 15px;
    height: 25px;
    width: fit-content;
    background-color: #8F9FB7;
    font-size: 0.7em;
    border-radius: 10px;
    padding-left: 15px;
    padding-right: 15px;
}


.title-location {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    padding-right: 15px;

}

.event-nav-button {
    position: relative;
    border-radius: 40px;
    width: 25vw;
    height: 46px;
    border-width: 0;
    font: inherit;
    color: inherit;
    color: #495D68;
    font-size: 0.8em;
    line-height: 2.2em;
    text-align: center;
}

.event-notification-btn {
    position: absolute;
    right: 0;
    top: 0;
    width: 50;
    height: 50;
    background-color: transparent;
    border: 0;
}


.kiosk-nav {
    margin:10px;
}

.kiosk-nav:focus {
    z-index: 100;
    outline: 10px solid lightsalmon !important;
}

.events-header-left {
    position: absolute;
    display: flex;
    align-items: center;
    justify-items: flex-end;
    left: 15px;
    height: 90px;
    -webkit-touch-callout: none !important; 
    -webkit-user-select: none !important; 
    user-select: none !important;
}

.events-header-logo {
    height: 60px;
    border-radius: 7px;
    
}

.events-header-avatar {
    width: 90px;
    height: 90px;
}

.event-home-btn2 {
    font: inherit;
    color: inherit;
    background-color: transparent;
    border: 0;
    display: flex;
    font-size: 90px;
    height: 90px;
}





.nav-btn {
    display: flex;
    flex-direction: column;
    margin: 0;
}

.fc-one-event-container-high {
    display: flex;
    direction: rtl;
    flex-direction: column;
    align-items: flex-start;
}

.fc-one-event-container {
    direction: rtl;
    display: flex;
    flex-direction: row;
    align-items: flex-start;
}

.fc-one-event-time {
    display: flex;
    flex-direction: row;
    margin-left: 5px;
    margin-right: 5px;
    align-items: center;
}

.fc-one-event-title {
    margin-left: 5px;
    margin-right: 5px;
    text-align: start;
}

.event-svg-icon {
    display: block;
    margin: 2px;
}

.fc-one-event-markers {
    position: absolute;
    left: 0;
    height: 25px;
    display: flex;
    flex-direction: row;
}

.fc-one-event-markers>img {
    height: 25;
    width: 25px
}