.event-container {
    display: flex;
    flex-direction: column;
    position: relative;
    border-radius: 10px;
    margin-left: 24px;
    margin-bottom: 13px;
    margin-top: 13px;
    border-width: 0;
    font: inherit;
    color: inherit;
    box-shadow: 6px 4px 10px 9px rgb(44 85 102 / 12%);
    overflow:visible;
}

.event-title {
    display: flex;
    flex-direction: row;
    align-items: flex-start;
    padding-top: 10px;
    padding-right: 5px;
    padding-left: 5px;
}

.event-personal-pin {
    position: absolute;
    top: -8;
    left: 45%;
}
.event-footer-right {
    display: flex;
    flex-direction: row;
    position: absolute;
    align-items: center;
    bottom: 0;
    justify-items: center;
    background-color: rgba(255,255,255,.7)
    
}

.event-footer-left {
    display: flex;
    flex-direction: row-reverse;
    position: absolute;
    align-items: center;
    bottom: 5px;
    left:5px;
    justify-items: center;

}

.event-footer-left > img {
    margin-right: 10px;
}

.event-time-before {
    position: absolute;
    display: flex;
    align-items: center;
    bottom: -13px;
    right: 10px;
    height: 25;
    width: fit-content;
    background-color: #C4C4C4;
    font-size: 0.7em;
    border-radius: 5px;
    padding-left: 10px;
    padding-right: 10px;
}


.title-location {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    padding-right: 15px;

}

.event-nav-button {
    position: relative;
    border-radius: 40px;
    width: 25vw;
    height: 46px;
    border-width: 0;
    font: inherit;
    color: inherit;
    color: #495D68;
    font-size: 0.8em;
    line-height: 2.2em;
    text-align: center;
}

.event-home-btn {
    font: inherit;
    color: inherit;
    background-color: transparent;
    border: 0;
    display: flex;
    position: absolute;
    left: 95px;
    font-size: 90px;
}