
.kiosk-container {
    width: 100vw;
    height: 90vh;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    align-items: center;
    justify-content: center;
}

.kiosk-person {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding:20px;
    border: 0;
    width:250px;
    height:250px;
    font-size: 30px;
    background-color:lightblue;
    border-radius: 10px;
    margin: 10px;
    
}

.kiosk-person:focus {
    outline: 10px solid lightsalmon !important;
}

.kiosk-person-img {
    height: 180px;
    width: 180px;
}