@font-face {
  font-family: 'Assistant';
  src: local('Assistant'), url(../fonts/Assistant/Assistant-Regular.ttf) format('truetype');
}

@font-face {
  font-family: 'Assistant';
  font-weight: 700;
  src: local('Assistant'), url(../fonts/Assistant/Assistant-SemiBold.ttf) format('truetype');
}

@font-face {
  font-family: 'Assistant';
  font-weight: 900;
  src: local('Assistant'), url(../fonts/Assistant/Assistant-Bold.ttf) format('truetype');
}

.userEventsContainer {
  background-color: #0078C3;
  font-size: 24px;
  font-family: Assistant;
  font-weight: 700;
  color: #495D68;
  height: 100vh;
}

.mainBG {
  background-color: #EBF0F2;
}

.admin-pane-btn-container {
  position: fixed;
  bottom:0;
  height: 6vh;
  padding-bottom: 2px;
  display: flex;
  width:100vw;
  flex-direction: row;
  align-items: center;
  justify-content: space-evenly;
  background-color: lightgray;
}

.admin-pane-btn {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-top: 2px;
  padding-left:10px;
  padding-right:10px;

  
}
.selected {
  background-color: white;
  border-radius: 10px;
}

.admin-pane-btn > text {
  font-size: 15px;
  color: black;
}
.admin-pane-btn > svg {
  font-size: 20 px;
  color: black;
}
