.users-container {
    background-color:white;
    direction: rtl;
    width: 100%;
    overflow-x: scroll;
    height:100%;
    font-size: 24px;
    font-family: Assistant;
    font-weight: 700;  
}

.edit-user-container {
    position: absolute;
    top: 10vh;
    margin-right: 2vw;
    margin-left: 2vw;
    max-height: 85vh;
    overflow-y: scroll;
    padding-bottom: 20px;
    /* width: 96vw; */
    
    padding-right: 15px;
    background-color: var(--pop-up-background);
    z-index: 500;
    border-radius: 15px;
    box-shadow: var(--pop-up-boxshadow);
}

.users-search {
    display:flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    border-bottom: lightgrey 2px solid;
    margin-bottom: 2px;
}

.users-search > input {
    border-radius: 10px;
    font-size: 0.7em;
    margin-right: 10px;
    margin-left: 10px;
    
}

.permission-container {
    width: 80%;
    margin:10px;
    border: gray 2px solid;
    text-align: right;
    font-size: 0.8em;
}

.permission-item {
    display: flex;
    align-items: flex-start;
    flex-direction: column;
}

.permission-desc {
    font-size: 0.7em;
    margin-right: 50px;
}