.scale-down {
    object-fit: scale-down;
}
.fill {
    object-fit: fill;
  }
  
  .contain {
    object-fit: contain;
  }
  
  .cover {
    object-fit: cover;
  }

.overflowY {
  overflow-y: auto;
}

