.scale-down {
    object-fit: scale-down;
}
.fill {
    object-fit: fill;
  }
  
  .contain {
    object-fit: contain;
  }
  
  .cover {
    object-fit: cover;
  }

.overflowY {
  overflow-y: auto;
}

.modal-outer {
  position: absolute;
  width: 100vw;
  height: 100vh;
  background-color: rgba(191, 209, 255, 0.3);
  z-index: 1000;
}

.modal-close-btn {
  position: absolute;
  top:5px;
  left:5px;
}